#test-text-textarea {
	width:100%;
	height:100%;
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box; /* For Safari                           */
}

.test-text {
	width: 100%;
  	background: #D9D9D9;
  	padding: 0.5em 10px;
  	border-radius: 10px;
  	font-size: 14pt;
}

.test-text-editor, .multiple-choice-test-editor, .assignment-test-editor,
.blank-words-test-editor, .category, .item {
	margin: 1.5em 10px;
  	padding: 0.5em 10px;
  	border-radius: 10px;
}

.word, .blank, .blank-words-right, .sorting-test-items {
	border-radius: 10px;
  	font-size: 13pt;
}

.test-text-editor { background: #34aeef; }
.multiple-choice-test-editor { background: #D9D9D9; }
.assignment-test-editor { background: #E4E4E4; }
.blank-words-test-editor { background: #34aeef; }

#blank-words-editable-div { padding: 0.5em 10px; background: white;	width: 89%; min-height: 20px; }

.top-radius-div {
	display: inline-block;
	width: 100%;
  	background: #E4E4E4;
  	padding: 0.5em 10px;
  	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	float: left;
}

body,html { height: 100%; }

.status-succes-text { color: green; }
.status-fail-text { color: red; }

.multiple-choice-test-status, .sorting-test-status, .blank-words-status{
	display: inline-block;
	width: 100%;
  	background: #34aeef;
  	padding: 0.5em 10px;
  	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	float: left;
}
.multiple-choice-test { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;display: inline-block; position: relative; height: 100%; width: 100%; }
.questions { display: inline-block; width: 50%; height: 100%; background: #E4E4E4; float: left; }
.answers { display: inline-block; width: 50%; height: 100%; background: #E4E4E4; float: right; }
.radio.inline { padding-top: 0px; }

.multiple-choice-test .questions { width: 100% !important; display: table !important; }
.multiple-choice-test .answers { width: 0% !important; }
.multiple-choice-test .question-row { display: table-row !important; }
.multiple-choice-test .question-row > div { display: table-cell !important; }
.multiple-choice-test .question-row > div:first-child { width: auto; }
@media screen and (min-width: 1000px) {
  .multiple-choice-test .question-row > div:first-child { width: 0px !important; }
}
.multiple-choice-test .question-row .answer-col { width: 80px; }

.category-sorting-test { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;display: inline-block; position: relative; height: 100%; width: 100%; }
.item { height: auto; padding: 0.5em; float: left; margin: 5px 5px 5px 5px; background: white; }
.category { width: 90%; padding: 0.5em; float: left; margin: 10px; background: #f5f5f5; }

h1 {text-align: center;}

.sorting-test-categories { display: inline-block; width: 50%; height: 80%; background: #E4E4E4; float: left; }
.sorting-test-items { display: inline-block; width: 47%; height: 80%; background: #D9D9D9; padding: 0px 10px 10px 10px; float: right; }

.blank-words-test { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;display: inline-block; position: relative; height: 100%; width: 100%; }
.word { float: left; padding: 0.2em; margin: 2px 2px 2px 2px; background: white;}
.blank { display: inline; width: 150px; background: #f5f5f5; padding: 4px;}
.blank-words-left { width: 100%; background: #E4E4E4; float: left; font-size: 13pt; }
.blank-words-right { width: 100%; background: #D9D9D9; padding: 10px 10px 10px 10px; float: right; }
.text-hidden { color: red; }
.dropped { display: inline; float: inherit; }

div.footer p { text-align:center; }
div.text-with-blank p { line-height: 33px; }
div.test-text p { margin-bottom: 0px; }
div.test-text h4 { padding-left: 10px; }
